<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>{{pageTitle}}</title>
</head>

<body>
  {{> header}}

  <h3>Us and co.</h3>

  <table>
    <thead>
      <tr>
        <th>name</th>
        <th>email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>foo</td>
        <td>foo&#64;foo</td>
      </tr>
      <tr>
        <td>bar</td>
        <td>bar@bar</td>
      </tr>
    </tbody>
  </table>

{{> footer}}
</body>

</html>
