html,body{
    height:100%;
    min-height: 100%;
}

body {
    background-color: #DACFD8;
}

.section-heading {
    margin-top: 1em;
    margin-bottom: 2em;
    text-align: center;
}

.section-heading h1 {
    text-transform: uppercase;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 4em;
}

.navbar-wrapper .navbar .container {
    width: auto;
}
.navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
}

.navbar-brand, .nav-link {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.fill-wrap {
    /*    position: relative;*/
    /*    height: 100%;  */
    /*    top: 0;*/
    /*    left: 0;*/
    height: 100%;
    width: 100%;
    /*    z-index: -1;*/
}

.fill {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}

.carousel, .carousel-item,.carousel-inner {height:100%;}

.carousel-control-next, .carousel-control-prev {
    font-size: 4em;
}

.team {
    margin-top: 3em;
    text-align: center;
}
.team .rounded-circle {
    height: 140px;
    width: 140px;
    padding: 8px;
}

.team .col-md-4 {
    padding-bottom: 2em;
}

.team-member-name {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.divider {
    margin-top: 3em; 
}

.content {
    margin-bottom: 3em;    
}

.content-text {
    text-align: center;
}

.content-right-col {
    border-left: 1px solid #B4AD95;
    padding-bottom: 2em;
    padding-top: 1em;
}

.content-right-col img {
    margin-top: 1em;
    margin-bottom: 1em;
}

.content-left-col {
    border-right : 1px solid #B4AD95;
    padding-bottom: 2em;
    padding-top: 1em;
}

.content-left-col img {
    margin-top: 1em;
    margin-bottom: 1em;
}

footer {
    padding: 2em;
    opacity: .9;
}